*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* netflix nav bar */
.container{
    background-color: #111;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 60%;
    margin: auto;
}
.nav img{
    width: 300px;
    object-fit: contain;
}
.nav > .left{
    display: flex;
    align-items: center;
    color:whitesmoke ;
}
.nav >.left >span{
    font-size: 1.2rem;
    margin-right: 30px;
    cursor: pointer;
}